<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogo.mapper.DomesticPlayerMapper">
    <resultMap id="domesticPlayerResultMap" type="com.gogo.pojo.DomesticPlayer">
        <result column="Picsrc" property="photo"/>
    </resultMap>
    <select id="selectById" resultMap="domesticPlayerResultMap">
        SELECT *
        FROM native_player_info
        WHERE id = #{id}
        ;
    </select>
    <select id="selectByPartName" resultMap="domesticPlayerResultMap">
        SELECT id, name, Picsrc
        FROM native_player_info
        WHERE name like #{name}
        ;
    </select>
    <select id="selectByClub" resultMap="domesticPlayerResultMap">
        SELECT id, name, Picsrc
        FROM native_player_info
        WHERE clubName = #{clubName}
        ;
    </select>
    <select id="selectByName" resultMap="domesticPlayerResultMap">
        SELECT *
        FROM native_player_info
        WHERE name = #{name};
    </select>
</mapper>