<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogo.mapper.GameDataMapper">
    <resultMap id="GameDataResultMap" type="com.gogo.pojo.GameData">
        <result column="play_count" property="playCount"/>
        <result column="red_card" property="redCards"/>
        <result column="yellow_card" property="yellowCards"/>
        <result column="starter_count" property="starterCount"/>
    </resultMap>
    <select id="selectById" resultMap="GameDataResultMap">
        SELECT *
        FROM native_player_matchdata
        WHERE id = #{id}
        ;
    </select>
    <select id="selectByName" resultMap="GameDataResultMap">
        SELECT *
        FROM native_player_matchdata
        WHERE  name = #{name}
        ;
    </select>

</mapper>